body{
    background-color: $bg_color !important;
    .slider_content_093{
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%,-50%);
        position:absolute;
    }
    .header_slider_093{
        position: relative;
    }
    .slick_slider_093{
        width: 100%;
        height: 100vh;
    }
    .slider_content_093 {
        width: 70%;
    }
    p.slider_text_093 {
        text-align: center;
        margin: 0px 20% 25px;
    }
    .slider_link_row_093{
        text-align: center;
    }
    a.slider_link_093.btn{
        color:$white;
        background-color: $orange;
        border-radius: 0;
        padding: 14px 36px;
    }
    .slider_h1_093{
        margin-bottom: 25px;
    }
    button.slick-prev.slick-arrow {
        z-index: 999;
        position: absolute;
        left: 100px;
        top: 47%;
        padding: 0;
        background: transparent;
        border: 0;
    }
    button.slick-next.slick-arrow {
        z-index: 999;
        position: absolute;
        right: 100px;
        top: 47%;
        padding: 0;
        background: transparent;
        border: 0;
    }
    .container_02_row_093{
        margin-top: 90px;
        margin-bottom: 110px;
    }
    .col_content_093{
        margin-bottom: 50px;
        padding-right: 50px;
    }
    .numbers_093 {
        font-size: 28px;
        color: $white;
        font-family: $regular_font;
    }
    .col_content_093{
        p{
            text-transform: uppercase;
            font-size: 12px;
            line-height: 20px;
        }
    }
    .container_03_row_093{
        margin: 0 15%;
    }
    .container_02_row_093 .slick-track {
        display: flex;
        align-items: center;
        padding:0 10px;
    }
    .site-footer{
        display: none;
    }
    .slick_slider_093{
        .slick-slide{
            img{
                height: 100vh;
            }

        }
    }
}
@media ( max-width: 1024px ){
    .slider-sec .slick-slide {
        margin: 0 7px;
    }
    .x_menu{
        display: none;
    }
    .hide_desk {
        display: block !important;
        background: transparent;
        border: 0;
        width: 40px;
        padding: 5px 7px;
        position: absolute;
        top: 55px;
        right: 30px;
    }
    body button.slick-prev.slick-arrow {
        left: 10px;
    }
    body button.slick-next.slick-arrow{
        right: 10px;
    }
    body .slick_slider_093 {
        width: 100%;
        height: 65vh;
    }
    body .slick_slider_093 .slick-slide img {
        height: 65vh;
        object-fit: cover;
    }
    h1 {
        font-size: 50px;
        line-height: 60px;
    } 
    body p.slider_text_093 {
        text-align: center;
        margin: 0px 5% 25px;
    }
    .col-sm-4 {
        flex: 0 0 auto;
        width: 49.333333%;
    }
    h2 {
        font-size: 40px;
        line-height: 50px;
 
    }
    body .container_03_row_093 {
        margin: 0px 0%;
    }
    body .col_content_093 {
        margin-bottom: 50px;
        padding-right: 0px;
    }
    .container_03_row_093 .col-sm-4 {
        width: 33.333333%;
    }
    ul#primary-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        background-color: $bg_color;
        padding: 30px;
        margin-top: 20px;
    
    }
    header{
        z-index: 99999 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
        nav {
            ul{
                border-top: 2px solid $orange;
            }
            // padding: 0 !important;
            z-index: 99999;
            li{
                a{
                    padding-bottom: 15px !important;
                }
            }
            .menu-item-has-children:hover:before {
                right: -5px !important;
            }
            .menu-item-has-children:after {
                right: -5px !important;
            } 
        }
    }
}
@media ( max-width: 767px ){
    h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .slick-arrow img {
        width: 50%;
    }
    body button.slick-prev.slick-arrow {
        left: -5px;
    }
    body button.slick-next.slick-arrow{
        right: -5px;
    }
    p {
        font-family: Sofia Regular;
        color: #a8abb2;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.2px;
    }
    body a.slider_link_093.btn {
        color: #ffffff;
        background-color: #ff7300;
        border-radius: 0;
        padding: 10px 21px;
        font-size: 12px;
    }
    .col-sm-4 {
        flex: 0 0 auto;
        width: 100%;
    }
    .container {
        padding: 0 30px;
    }
    h6{
        margin-top:10px;
    }
    .container_03_row_093 .col-sm-4 {
        width: 100%;
        text-align: center;
    }
}